*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  background: transparent;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 100%;
  padding: 0 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2px 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  background: transparent;
  cursor: pointer;
  appearance: none;
}

.search-form__textfield::placeholder {
  font-family: inherit;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  appearance: none;
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  cursor: pointer;
  appearance: none;
}

.search-form__submit-button {
  align-self: flex-end;
  padding: 6px 73.5px;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald, sans-serif;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  overflow: scroll;
  block-size: 298px;
}

.content__list-item {
  inline-size: 100%;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  width: fit-content;
  padding: 2px;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  height: 103px;
}

.more-button {
  padding: 6px 0;
  inline-size: inherit;
}

/* Понимаю, что не лучшее решение, но другого я не придумал.
 Сделал так, потому что этот блок все равно должен быть в ширину всего
 родительского блока. В этой связи и решил делать не через падинги, а так, как
 сделал. Я мог бы задать класс пустому ли и сделать красивее, но в задании говорилось,
 что не рекомендуется менять html */
li:has(.more-button) {
  inline-size: 100%;
}

/* СОСТОЯНИЯ */

/* ТЕКСТОВОЕ ПОЛЕ */

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

/* ЧЕКБОКСЫ */

/* БЕЛЫЕ КВАДРАТЫ ДЛЯ ЧЕКБОКСА ПРИ СОСТОЯНИИ CHECKED */
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-color: white;
}

.search-form__label:has(.search-form__label-text:not(:first-child)):hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* КНОПКИ */

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* КАРТОЧКИ */

.content__card-link_current {
  background: #545050;
}

.content__card-link:focus {
  border: none;
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

/* Оффсет ориентировочный, чтобы норм смотрелось. Можно было сделать через бордер,
 но в этот раз решил сделать так. Мб ошибка */
.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.content__card-link:active {
  background: #545050;
}
